In [2]:
import requests as req

from bs4 import BeautifulSoup as bs

In [1]:
import pandas as pd

In [3]:
#most streamed spotify artists
url = 'https://chartmasters.org/most-streamed-artists-ever-on-spotify/'

In [4]:
html = req.get(url).content
soup = bs(html, 'html.parser')

In [21]:
artist_spoti = pd.read_html(html)[0]
artist_spoti.sample()

,#,Artist Name,Lead Streams,Featured Streams,Tracks,1b+,100m+,10m+,1m+,Last Update
348,349,Passenger,3143439133,1885000,216,1,2,44,178,12/27/21

In [28]:
artist_spoti.rename(columns={"#":"streaming_rank",'Artist Name': 'artist', "Lead Streams":"lead_streams", "Featured Streams":"featured_streams", "Last Update":"last_update"}, inplace=True)

In [29]:
artist_spoti.dropna(subset=["artist"], inplace = True)
artist_spoti.shape

(1000, 10)

In [30]:
artist_spoti.drop_duplicates(subset=["artist"], inplace=True)

In [31]:
artist_spoti

,streaming_rank,artist,lead_streams,featured_streams,Tracks,1b+,100m+,10m+,1m+,last_update
0,1,Drake,44536306403,17365495866,250,5,116,242,245,02/04/22
1,2,Ed Sheeran,33626490825,2470098686,214,9,58,161,191,02/03/22
2,3,Bad Bunny,31591913975,4259239853,141,3,87,134,140,02/05/22
3,4,Ariana Grande,29293717743,1853878508,181,4,63,125,175,02/05/22
4,5,The Weeknd,29162520751,3653938791,177,6,67,142,159,02/05/22
...,...,...,...,...,...,...,...,...,...,...
995,996,Dave Matthews Band,1191228948,12494077,976,0,1,23,151,10/27/21
996,997,MF DOOM,1190155840,84749542,423,0,0,25,155,01/13/22
997,998,Jake Owen,1189060122,30523629,90,0,2,16,71,09/03/21
998,999,No Doubt,1187404815,276817,121,0,2,14,56,02/05/22
999,1000,Wu-Tang Clan,1187400020,11075579,347,0,1,16,119,06/19/21

In [33]:
artist_spoti.to_csv(r'/mnt/c/Users/Palmira/Desktop/Ironhack/Semana4/project_ETL/src/Output_data/artits_streamed_spoti.csv', index=False)